# Dependencies
node_modules/
node_modules/**

# Power BI visual build output
.tmp/
.tmp/**
dist/
dist/**
webpack.statistics*.html

# Local editor settings
.vscode/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
